@use "sass:color";

//font variable
$font-cabecera: 'Roboto Flex', sans-serif;


//color variables and shadow
$common-background: #d6cfec;
$nav-color: #eca539;
$header-nav-links: #94e284;
$nav-botones-hover: #eca539;
$standar-blue: #6b91f1;
$main-sentence: #35f60a;

$shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);


//--BOOTSTRAP--//
//components variables SASS Bootstrap
$border-flat: 4px; //width of border in cards of speakers.html and alert component in contact.html


//variables component card contact.html Bootstrap
$border-card: 50px; //radius
$card-border-radius: $border-card;
$card-border-width: $border-flat;

//variables component acordeon contact.html Bootstrap
$color-accordion: #f2c6c6;
$color-accordion-active: hsl(63, 68.3%, 71.6%);
$color-accordion: rgb(74, 204, 237);
$accordion-button-bg: $color-accordion;
$accordion-button-active-bg: $color-accordion-active;


//variables component "alert" contact.html Bootstrap
$alert-border-width: $border-flat;
$alert-border-radius: calc(10px + 2vw);