.seccion {
  //main picture
  &__principal {
    background-image: url(../images/montjuic.webp);
    background-size: cover;
    background-position: top;
    height: 600px;
    margin-bottom: 2cm;
  }
  //blockquoute
  &__cita:has(blockquote) {
    display: flex;
    gap: 3cm;
    align-items: center;
    padding: 15px;
    width: 60%;

    .cita {
    
      &__parrafo { width: 80%; }
      //sentence on the right of quoute
      &__frase {
        @include flex-colum-aling;
        padding: 15px;
        border: blue 4px solid;
        border-radius: 0.7cm;
        background-color: white;
        box-shadow: $shadow;
      }
    }
  }

  @media (max-width: 1400px) {

    &__cita:has(blockquote) {
      display: flex;
      flex-direction: column;
      gap: 1cm;
      width: 90%;
    }
  }

  &__lista {
    margin: 0;

    .lista__elemento h3 { text-decoration: underline; }
  }

  @media (max-width: 780px) {
    .lista__elemento { @include flex-colum-aling; }
  }
  //text on the bottom
  &__texto {
    display: flex;
    gap: 30px;
    margin-bottom: 2cm;
  }
}

.articulo__seccion {

  container-type: inline-size;
  container-name: background;
  //container which display change
  @container background (max-width: 550px) {

    .seccion__texto {
      flex-direction: column;
      align-items: center;
      padding: 10px;
      background-color: $header-nav-links;
      border: solid 2px;
      border-radius: 0.5cm;
    }
  }
}
//style for list in the middle of the web
.articulo__seccion:has(ul) {
  display: flex;
  flex-direction: column;
  margin: 2cm auto;
  padding: 15px 30px 15px 15px;
  color: white;
  background-color: $standar-blue;
  border-radius: 0.5cm;
}

.articulo__seccion:has(button) {
  @include flex-colum-aling;
  margin: 2cm auto;
}
//common text style
:is(.seccion__lista, .cita__parrafo, .seccion__texto p) {
  line-height: 1.8em;
  text-align: justify;
  font-weight: 500;
}