@layer base, display;
//layer witch desing styles
@layer base {

  .alert, 
  .accordion { box-shadow: $shadow; }

  .form {
    &__form {
    color: white;
    box-shadow: $shadow;
    background-color: color(display-p3 0.281 0.595 1 / 1);
    }
  }
  //style h2 form
  .faq__titulo,
  .form__titulo { @include h2-style; } //se usa color oklch(0.8 0.2799 141.47)
}

//layer with Box model and Typographic
@layer display {
  .alert {

    &__div {
      height: 70px;
      width: fit-content;
    }

    @media (max-width: 765px) {
      &__div { height: 12svh; }
    }

    @media (max-width: 450px) {
      &__div { height: 15svh; }
    }

    @media (max-width: 360px) {
      &__div { height: 18svh; }
    }

    @media (max-width: 320px) {
      &__div { height: 20svh; }
    }
  }
  
  .bloque {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 2cm auto;

    //box of faqs
    &__faq {
      text-align: justify;
      line-height: 1.8em;
    }

    @media (max-width: 1000px) {
      &__faq { @include flex-colum-aling; }
    }
    //box of forms
    &__form {
      @include flex-colum-aling;
      container-type: inline-size;
      container-name: changecolor;
  
      .form {
        
        &__form {
          display: flex;
          flex-direction: column;
          width: 50%;
          padding: 30px;
          font-weight: 500;
          border-radius: 0.5cm;
        }  
    }
    
    @container changecolor (max-width: 900px) {
      .form__form { width: 85%; }
    }
    }
  }

  .faq__titulo,
  .form__titulo { text-align: center; }
}