//if grid is supportted
@supports (display: grid) {
  //top area display
  .superior {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    //right side of top area with adress
    &__direccion { justify-items: end; }
  
    @media (max-width: 1000px) {
      //left side of top area
      &__newsletter {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
      }
      
      .newsletter__btn { margin-top: 0.3cm; }
    }
  
    @media (max-width: 800px) {
      & {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
      }
    }
  
    .input-group { width: 70%; }
  }
  
  hr { width: 100%; }
  //bottom area
  .inferior {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
      //center side of bottom area
    .pags__lista {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      gap: 15px;
    }
    ////left side of bottom area with media
    .redes__lista {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
    }
    //center side of bottom area style hover
    .enlace__web:hover,
    .enlace__web:focus {
      color:black;
      cursor: pointer;
    }
  
    @media (max-width: 1200px) {
      & {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
      }
  
      &__redes { grid-row: 2; }
    }

    @media (max-width: 800px) {
      & {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      }
  
      &__redes {
        grid-column: 1;
        grid-row: 3;
      }
    }
  }
}
//if grid is not supportted
@supports not (display: grid) {
  //top area display
  .superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    //right side of top area with adress
    &__direccion {
      justify-items: end;
      width: 19%;
    } 
    //left side of top area
    &__newsletter {
      display: flex;
      flex-direction: column;  

      .newsletter { 

        &__espacio { width: 30%; }

        &__btn {
          margin-top: 0.3cm;
          width: 6%;
        }
      }
    }
  
    @media (max-width: 1000px) {
      .newsletter__btn { margin-top: 0.3cm; }
    }
  
    @media (max-width: 800px) {
      & {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
      }
  
      &__newsletter {
        display: flex;
        align-items: center;
      }
    }
  }
  
  hr { width: 100%; }
  //bottom area
  .inferior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    //center section of bottom area
    .pags__lista {
      display: flex;  

        .lista__enlace { margin-right: 20px; }
    }
    //left section of bottom area with media
    .redes__lista {
      display: flex;

        .lista__red { margin-right: 20px; }
    }
    //center section of bottom area with webs
    .enlace__web:hover,
    .enlace__web:focus {
      color:black;
      cursor: pointer;
    }
  
    @media (max-width: 1200px) {
      & {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
      }
  
      &__redes {
        grid-column: 1/3;
        grid-row: 2;
      }
    }

    @media (max-width: 800px) {
      & {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      }
  
      &__redes {
        grid-column: 1;
        grid-row: 3;
      }
    }
  }
}

