//nav fixed position with scroll
.header__common {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #ebb1b1;
}
//nav display
.navegar {
  @include grid-nav;

  @media (max-width: 1000px) {
    & { grid-template-columns: 1fr; }
  }
  
  @media (max-width: 500px) {
    &__logo img { width: 230px; }
  }
  //nav buttons style
  .nav__enlaces {
    @include nav-botones;

    @media (max-width: 1000px) {
      & { margin-top: 1cm; }
    }
    
    @media (max-width: 500px) {
      & {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-top: 0.5cm;
      }
    }
  }
  //nav buttons style
  .pag {

    &__enlace { @include nav-botones-enlaces; }

    &__enlace:hover,
    &__enlace:focus { background-color: $nav-botones-hover; }
  }

  @media (max-width: 1000px) {
    & { justify-items: center; }
  }

  @media (max-width: 450px) {
    & {
      grid-template-columns: 1fr;
      gap: 25px;
      padding: 10px;
    }
  }
}