<footer class="mt-4 mb-4 container">
    <section class=" superior container">
        <div class="input-group mb-3 superior__newsletter">
            <label for="email">Susbscríbete a nuestra newsletter:</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="email" id="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
            </div>
            <button type="button" class="btn__newsletter btn btn-primary rounded-3 ms-2">Enviar</button>
        </div>
        <div class="superior__direccion">
            <address class="direccion__datos">
                <strong>Ecojornadas</strong><br>
                Rambla del Poblenou, 154-156<br>
                Barcelona, Barcelona, 08018<br>
                <a href="mailto:comolays27@uoc.edu">comolays27@uoc.edu</a><br>
              </address>
        </div>
    </section>
    <hr class="mt-3 mb-3">
    <section class="inferior container">
        <div class="inferior__logo encabezado__logo"><a href="index.html"><img src="assets/images/logo.svg" width="300"></a></div>
        <div class="inferior__pags">
            <ul class="pags__lista">
                <li class="lista__enlace"><a class="text-decoration-none" href="index.html" lang="es">Inicio</a></li>
                <li class="lista__enlace"><a class="text-decoration-none" lang="es">Speakers</a></li>
                <li class="lista__enlace"><a class="text-decoration-none" lang="es">Blog</a></li>
                <li class="lista__enlace"><a class="text-decoration-none" lang="es">Contacto</a></li>
            </ul>
        </div>
        <div class="inferior__redes">
            <ul class="redes__lista">
                <li class="lista__red"><a class="hvr-grow" href="#"><img src="assets/images/facebook.png"></a></li>
                <li class="lista__red"><a class="hvr-grow" href="#"><img src="assets/images/x.png"></a></li>
                <li class="lista__red"><a class="hvr-grow" href="#"><img src="assets/images/instagram.png"></a></li>
                <li class="lista__red"><a class="hvr-grow" shref="#"><img src="assets/images/google-plus.png"></a></li>
            </ul>
        </div>
    </section>
</footer>
