<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><!--Ya definido--></title>
    <link rel="stylesheet" type="text/css" href="./assets/styles/main.scss">
    <script type="module" src="assets/scripts/main.js"></script>
  </head>
<footer class="mt-4 mb-4 container animate__animated animate__fadeIn">
    <section class=" superior container">
        <div class="superior__newsletter input-group mb-3">
            <label for="newsletter__etiqueta email">Susbscríbete a nuestra newsletter:</label>
            <div class="newsletter__espacio input-group">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="email" id="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
            </div>
            <button type="button" class="newsletter__btn btn btn-primary rounded-3 ms-2">Enviar</button>
        </div>
        <div class="superior__direccion">
            <address class="direccion__datos">
                <strong>Ecojornadas</strong><br>
                Rambla del Poblenou, 154-156<br>
                Barcelona, Barcelona, 08018<br>
                <a class="direccion__mail" href="mailto:comolays27@uoc.edu" title="Escríbenos">comolays27@uoc.edu</a><br>
            </address>
        </div>
    </section>
    <hr class="mt-3 mb-3">
    <section class="inferior container">
        <div class="inferior__logo encabezado__logo"><a href="index.html" title="Ir a Inicio"><img src="assets/images/logo.svg" width="300" height="54" alt="Logo de Ecojornadas" lang="es" loading="lazy"></a></div>
        <div class="inferior__pags">
            <ul class="pags__lista">
                <li class="lista__enlace"><a href="index.html" class="text-decoration-none" href="index.html" title="Ir a Inicio" lang="es">Inicio</a></li>
                <li class="lista__enlace"><a href="speakers.html" class="text-decoration-none" title="Ir a Speakers" lang="es">Speakers</a></li>
                <li class="lista__enlace"><a class="text-decoration-none" title="Ir a Blog" lang="es">Blog</a></li>
                <li class="lista__enlace"><a href="contact.html" class="text-decoration-none" title="Ir a Contacta con nosotros" lang="es">Contacto</a></li>
            </ul>
        </div>
        <div class="inferior__redes">
            <ul class="redes__lista">
                <li class="lista__red"><a class="hvr-grow" href="#" title="Ir a nuestro Facebook"><img src="assets/images/facebook.png" width="32" height="32" alt="Logo de Facebook" loading="lazy"></a></li>
                <li class="lista__red"><a class="hvr-grow" href="#" title="Ir a nuestro X"><img src="assets/images/x.png" width="32" height="32" alt="Logo de X" loading="lazy"></a></li>
                <li class="lista__red"><a class="hvr-grow" href="#" title="Ir a nuestro Instagram"><img src="assets/images/instagram.png" width="32" height="32" alt="Logo de Instagram" loading="lazy"></a></li>
                <li class="lista__red"><a class="hvr-grow" href="#" title="Ir a nuestro Google plus"><img src="assets/images/google-plus.png" width="32" height="32" alt="Logo de Google plus" loading="lazy"></a></li>
            </ul>
        </div>
    </section>
</footer>
