<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><!--Ya definido--></title>
    <link rel="stylesheet" type="text/css" href="./assets/styles/main.scss">
    <script type="module" src="assets/scripts/main.js"></script>
</head>
<body>
    <header class="header__common">
        <div class="navegar container animate__animated animate__fadeIn">
            <div class="navegar__logo"><a href="index.html"><img src="assets/images/logo.svg" width="300" height="54" alt="Logo de Ecojornadas" lang="es"></a></div>
            <nav class="navegar__nav">
              <ul class="nav__enlaces">
                <li class="enlaces__pag p-1 ms-3"><a class="hvr-grow" href="index.html" title="Ir a Speakers" lang="es">Inicio</a></li>
                <li class="enlaces__pag p-1 ms-3"><a class="hvr-grow" href="#" title="Ir a Blog" lang="es">Blog</a></li>
                <li class="enlaces__pag p-1 ms-3"><a class="hvr-grow" href="#" title="Ir a Contacto" lang="es">Contacto</a></li>
              </ul>
            </nav>
        </div>
    </header>
</body>
</html>