<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><!--Ya definido--></title>
    <link rel="stylesheet" type="text/css" href="./assets/styles/main.scss">
    <script type="module" src="assets/scripts/main.js"></script>
  </head>
  <body>
    <header class="header__poster">
      <div class="encabezado container pt-3 animate__animated animate__fadeIn">
        <div class="encabezado__logo"><a href="index.html" title="Ir a Inicio"><img src="assets/images/logo.svg" alt="Logo de Ecojornadas" lang="es" width="300" height="54"></a></div>
          <nav class="encabezado__nav">
            <ul class="nav__lista">
              <li class="lista__pag p-1 ms-3"><a class="hvr-grow" href="speakers.html" title="Ir a Speakers" lang="es">Speakers</a></li>
              <li class="lista__pag p-1 ms-3"><a class="hvr-grow" href="blog.html" title="Ir a Blog" lang="es">Blog</a></li>
              <li class="lista__pag p-1 ms-3"><a class="hvr-grow" href="contact.html" title="Ir a Contacto" lang="es">Contacto</a></li>
            </ul>
        </nav>
      </div>
      <section class="poster container">
        <div class="poster__post--one animate__animated animate__fadeInRightBig">
          <p class="postone__title fs-5 p-1 rounded-3 mb-2">Fechas:</p>
          <ul class="list-group list-group-flush rounded-3">
            <li class="list-group-item">2, 3 y 4 de mayo</li>
            <li class="list-group-item">22, 23 y 24 de junio</li>
            <li class="list-group-item">14, 15 y 16 de julio</li>
          </ul>
        </div>
        <div class="poster__post--two d-flex align-items-center p-2 animate__animated animate__fadeInLeft"><p>Únete a nosotros en la Conferencia de Economía Circular y descubre cómo las soluciones sostenibles están transformando el futuro. Expertos de todo el mundo compartirán sus conocimientos y experiencias para crear un impacto positivo en el medio ambiente y la economía. ¡No te lo pierdas!</p></div>
        <div class="poster__post--three d-flex align-items-center p-2 animate__animated animate__fadeInLeft"><p>La Conferencia de Economía Circular se celebrará en el Palau Sant Jordi de Barcelona. ¡Te esperamos para ser parte de este evento único!</p></div>
        <div class="poster__post--four d-flex align-items-center p-2 animate__animated animate__fadeInRightBig"><p>Colaboración global: Todos podemos contribuir al círculo de la economía circular.</p></div>
        <div class="poster__post--sentence p-2 animate__animated animate__fadeIn"><p class="fs-1">La economía circular como motor de cambio</p></div>
      </section>
    </header>
  </body>
</html>