@mixin poster-box-blue {
  text-align: justify;
  height: fit-content;
  border-radius: 0.2cm;
  background-color: #6b91f1;
}

@mixin grid-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

@mixin nav-botones {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  justify-content: end;
  justify-items: center;
}
  
@mixin nav-botones-enlaces {
  padding: 10px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 0.5cm;
  background-color: #94e284;
}
          
@mixin nav-botones-hover {
  background-color: #eca539;
}

@mixin h2-style {
  padding: calc(2px + 1vw); 
  color: white !important;
  width: fit-content;
  border-radius: calc(10px + 1vw);
  background-color: oklch(0.8 0.2799 141.47);
}

